/* style */

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;
}
#skyCanvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    cursor: default;
}

#settingsButton:hover i {
    color: #f2f2f2;
}

#exitButton:hover {
    background-color: #6e1e25 !important;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

#opacitySlider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: #ddd;  /* 트랙 색상 */
    outline: none;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);  /* 트랙에 약간의 그림자 추가 */
    transition: background-color 0.3s ease;
}

#opacitySlider:hover {
    background: #ccc;  /* 호버 시 트랙 색상 */
}

#opacitySlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #007BFF;  /* 썸 색상 */
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);  /* 썸에 그림자 추가 */
    transition: background-color 0.3s ease;
}

#opacitySlider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #007BFF;  /* 썸 색상 */
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);  /* 썸에 그림자 추가 */
    transition: background-color 0.3s ease;
}

#opacitySlider::-webkit-slider-thumb:hover {
    background: #0056b3;  /* 호버 시 썸 색상 */
}

#retryButton:hover {
    background-color: #0056b3 !important; /* A darker shade for the hover effect */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Dark mode styling for the retry button */
body.dark-mode #retryButton {
    background-color: #007BFF; /* Same initial color as in light mode */
    color: #fff;
    border: 1px solid #007BFF;
    transition: transform 0.2s ease;
}

body.dark-mode #retryButton:hover {
    background-color: #0056b3; /* Darker shade when hovered */
}


/* 다크모드 스타일 */

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode h2 {
    color: #ffffff !important;
}

body.dark-mode #settingsButton {
    background-color: #333;
    color: #ffffff;
    border: 1px solid #444;
}

body.dark-mode #exitButton {
    background-color: #ff4136;
    color: #fff;
    border: 1px solid #ff4136;
    transition: transform 0.2s ease
}

body.dark-mode #exitButton:hover {
    background-color: #d32f2f;
}

body.dark-mode input[type="text"] {
    background-color: #333;
    color: #ddd;
    border: 1px solid #555;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
}

body.dark-mode input[type="checkbox"] {
    accent-color: #919090;
}

body.dark-mode #starList {
    background-color: #222;
    color: #eaeaea;
}

body.dark-mode button {
    background-color: #444;
    color: #ddd;
    border: 1px solid #555;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

body.dark-mode button:hover {
    background-color: #555;
    color: #fff;
}

